
.photo{
    align-items: center;
    padding-top: 200px;
    margin-right: -30px;

}

.personalPic{
    width: 300px;
    height: 300px;
    border-radius: 150px;
    border: black;
    border-width: 2px;
    border-style: solid;
}



.aboutMeBody{
    background-color: #070807;

    color: white;

}


.aboutMeSum{
    padding-top: 50px;
    width: 70%;
    margin: auto;
    font-size: larger;
    align-items: center;
}

.para{
    padding-top: 20px;
}

.aboutMeSum .footLink{
    color: aquamarine;    
    text-decoration: none;
    transition: ease 0.3s;
}

.footLink:hover{
    cursor: pointer;
    color: white;
    transition: ease 0.3s;
}



.skillSum{
    padding-top: 100px;
    background-color: #070807;

}

.skillGrid{
    width: 80%;
    margin: auto;
    display: "flex";
    flex: 1;
    flex-direction: "column";
}