.certBanner {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: black;
}
.certBanner h1 {
  color: white;
}

.certBody{
  background-color: black;
}

.body{
  width: 80%;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
}

.carouselDiv {
  width: 350px;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.certCard {
  background-color: lightgray;
  width: 250px;
  height: 270px;
  border-radius: 20px;
  margin: auto;
}

.certImg {
  padding-top: 10px;
  width: 150px;
  height: 150px;
  object-fit: fill;
  margin-left: auto;
  margin-right: auto;
}
.certInfo {
  padding-top: 10px;
}

.projectsCarousel{
  max-width: 870px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  
}

.projectCard{
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  max-width: 800px;
  min-height: 400px;
  background-color: lightgray;  
}


.projectBorder{
  background-color: black;
  min-height: 450px;
}

.imgContainer{
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
}

.projectPic{
  border-radius: 20px;
}

.leftProjectCard{
  align-items: center;
}

.leftProjectCard p{
  padding-top: 50px;
  font-style: italic;
}

.rightProjectCard h2{
  padding-top: 30px;
}

.rightProjectCard h4{
  text-align: left;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-size: large;
  font-weight: bold;
  padding-top: 10px;
}

.rightProjectCard ul{
  text-align: left;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.rightProjectCard p{
  text-align: left;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}


