.certBanner {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: black;
}
.certBanner h1 {
  color: white;
}

.carouselDiv {
  width: 80%;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.certCard {
  background-color: lightgray;
  width: 250px;
  height: 270px;
  border-radius: 20px;
}

.certImg {
  padding-top: 10px;
  width: 150px;
  height: 150px;
  object-fit: fill;
  margin-left: auto;
  margin-right: auto;
}
.certInfo {
  padding-top: 10px;
}



