.certBanner {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: black;
}
.certBanner h1 {
  color: white;
}

.certBody{
  background-color: black;
}

.body{
  width: 80%;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
}

.carouselDiv {
  width: 350px;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.certCard {
  background-color: lightgray;
  width: 250px;
  height: 270px;
  border-radius: 20px;
  margin: auto;
}

.certImg {
  padding-top: 10px;
  width: 150px;
  height: 150px;
  object-fit: fill;
  margin-left: auto;
  margin-right: auto;
}
.certInfo {
  padding-top: 10px;
}

.projectsCarousel{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  align-items: center;
  
}

.projectCard{
  
  margin: auto;
  margin-bottom: 30px;
  border-radius: 20px;
  max-width: 720px;
  min-height: 400px;
  background-color: lightgray;
}



