.headerBar {
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  background-color: #070807;
}

.expDiv {
  align-items: center;
}

.expList {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
}

.jobDateRight {
  list-style-position: inside;
  text-align: left;
}
.jobDateLeft {
  list-style-position: inside;
  direction: rtl;
  text-align: right;
}
.cardSize {
  width: 300px;
}

.jobCard {
  padding-top: 30px;
}

.position {
  font-style: italic;
  color: #1479de;
}

.jobCardLogo {
  height: 200px;
  width: 200px;
}

.jobCardLogo img {
  height: 200px;
  width: 200px;
  border-radius: 20px;
}

.jobCardName {
  text-align: left;
  padding-left: 50px;
}
.description {
  text-align: left;
  font-size: 15px;
  color: #212121;
}
