


.introLeft {
    overflow: hidden;
    height: 80vh;
    position: relative;
    background: linear-gradient(#010540, #070807);

}


.introLeft .tag{
    display: inline-block;
    padding-top: 30vh;
    margin: auto;
    font-size: large;
    text-align: center;
    color: white;

}
.tag h1{
    font-size: 70px;
    font-weight: bold;
}

